.bg-asset1{
	position: absolute;
    width: 116%;
    height: 518px;
    bottom: -35px;
}
.bg-asset2{
	position: absolute;
    width: 105%;
    height: 406px;
    bottom: -50px;
    left: 7%;
}
.main-page{
    height: 694px;
	overflow-y: scroll;
	padding: 0 30px 45px !important;
}
.page-container{
    margin-top: 42px;
    width: 636px;
    margin-left: auto;
    margin-right: auto;
}
.page-container-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-container-top-left{
    font-size: 16px;
    line-height: 30px;
    color: #b0b1b1;
    font-family: "Nunito";
    font-weight: 400;
    align-items: center;
    cursor: pointer;
}
.page-container-top-right{
    display: flex;
}
.invoice-tab{
    width: 142px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    font-size: 14px;
    line-height: 19px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 700;
    padding: 10px 14px;
}
.warning-tab{
    margin-left: 12px;
}
.warning{
    width: 49px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff !important;
    border: 1px solid #d0d0d0 !important;
    padding: 5px 14px;
}
.page-container-card{
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    margin-top: 12px;
}
.page-container-card-title{
    align-items: center;
    text-align: center;
    padding: 0px 25px 0px;
}
.page-container-card-title-content{
    border-bottom: 1px solid #707070;
    font-size: 14px;
    line-height: 19px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 700;
    padding: 14px 0 10px;
}
.project-details{
    padding: 22px 25px 15px;
}
.project-details-header{
    font-size: 20px;
    line-height: 14px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 700;
}
.project-details-content{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #515252;
    font-family: "Nunito";
    font-weight: 700;
    margin-top: 16px;
}
.col-md-5{
    padding-left: 35px !important;
}
.col-md-7{
    padding-left: 0 !important;
}
.order-details{
    font-size: 20px;
    line-height: 14px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 700;
}
.order-detail{
    display: flex;
    background-color: #f7f8fc;
    border-top: 0.10000000149011612px solid #707070;
    border-bottom: 0.10000000149011612px solid #707070;
    padding: 11.5px 25px 34px;
}
.order-detail:first-child{
    margin-bottom: -1px;
}
.order-detail-left{
    display: flex;
    align-items: center;
}
.icon-facebook{
    width: 32px;
    background: #263f72;
    height: 32px;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 2px;
}
.order-detail-left-text{
    margin-left: 12px;
}
.order-detail-left-text1{
    font-size: 19px;
    line-height: 18px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 700;
}

.order-detail-left-text2{
    font-size: 14px;
    line-height: 14px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 400;
    margin-top: 8px;
}
.order-detail-right-text1{
    font-size: 14px;
    line-height: 14px;
    color: #6a6a6a;
    font-family: "Nunito";
    font-weight: 700;
}
.order-detail-right-text2{
    font-size: 16px;
    line-height: 14px;
    color: #6a6a6a;
    font-family: "Nunito";
    font-weight: 700;
    margin-top: 44px;
}
.project-btn{
    margin-left: 42px;
    margin-top: 10px;
}
.btn-project{
    width: 86px !important;
    height: 20px !important;
    border-radius: 10px !important;
    background-image: linear-gradient(-86deg, #089adc 0%, #9ce1ff 100%);
    font-size: 10px !important;
    line-height: 24px;
    color: #ffffff !important;
    font-family: "Nunito" !important;
    font-weight: 400;
    text-align: center;
    padding: 0 !important;
    border: none !important;
}
.order-details-content-bottom{
    font-size: 14px;
    line-height: 14px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
}
.status-content{
    padding: 28px 40px 15px 25px;
    display: flex;
}
.status-title{
    font-size: 20px;
    line-height: 14px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 700;
}
.status-text1{
    font-size: 14px;
    line-height: 15px;
    color: #6a6a6a;
    font-family: "Nunito";
    font-weight: 700;
    margin-top: 20px;
}
.status-text2{
    width: 220px;
    height: 25px;
    border-radius: 6px;
    background-color: #fcf8e3;
    border: 1px solid #e5e5e5;
    font-size: 14px !important;
    line-height: 15px;
    color: #6a6a6a;
    font-family: "Nunito";
    font-weight: 700;
    text-align: center;
    padding: 5px 0;
    margin-top: 15px;
}
.col-md-6{
    padding: 0 !important;
}
.payment-btn{
    margin-top: 27px;
}
.btn-payment{
    width: 265px;
    height: 47px;
    border-radius: 6px;
    background-color: #2593f1 !important;
    border: 1px solid #2593f1;
    font-size: 20px;
    line-height: 14px;
    color: #ffffff;
    font-family: "Nunito";
    font-weight: 700;
}
.project-card-bottom-status-icon{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 11.5px;
    color: white;
    padding: 1.5px 2.8px;
    margin-right: 5px;
}
.total-content{
    margin-top: 45px;
    padding-bottom: 103px;
}
.total-row{
    display: flex;
    padding: 12px 0 12px 77px;
}
.total-row-left{
    text-align: right;
    font-size: 18px;
    line-height: 14px;
    color: #6a6a6a;
    font-family: "Nunito";
    font-weight: 500;
    text-align: right;
    margin-right: -35px;
}
.total-row-right{
    text-align: left;
    font-size: 18px;
    line-height: 14px;
    color: #6a6a6a;
    font-family: "Nunito";
    font-weight: 700;
}
.page-container-card-footer{
    align-items: center;
    text-align: center;
    padding: 0px 25px 0px;
}
.page-container-card-footer-content{
    border-top: 1px solid #707070;
    font-size: 14px;
    line-height: 19px;
    color: #606060;
    font-family: "Nunito";
    font-weight: 700;
    padding: 14px 0 10px;
}
.space{
    display: flex;
    align-items: center;
    justify-content: center;
}
.other-logo{
    margin-top: -20px;
    width: 160px;
}
.font-red{
    font-size: 24px;
}
.icon-warning{
    margin-top: -5px;
}


@media(min-width: 2200px) {
.bg-asset1{
    height: 984.2px;
    bottom: -66.5px;
}
.bg-asset2{
    height: 771.4px;
    bottom: -95px;
}
.main-page{
    height: 1547px;
    overflow-y: scroll;
    padding: 0 57px 85.5px !important;
}
.page-container{
    margin-top: 79.8px;
    width: 1208.4px;
}

.page-container-top-left{
    font-size: 30.4px;
    line-height: 57px;
}

.invoice-tab{
    width: 269.8px;
    height: 76px;
    border-radius: 7.6px;
    border: 1.9px solid #d0d0d0;
    font-size: 26.6px;
    line-height: 36.1px;
    padding: 19px 26.6px;
}
.warning-tab{
    margin-left: 22.8px;
}
.warning{
    width: 93.1px;
    height: 76px;
    border-radius: 7.6px;
    border: 1.9px solid #d0d0d0 !important;
    padding: 9.5px 26.6px;
}
.page-container-card{
    border-radius: 5.7px;
    border: 1.9px solid #dcdcdc;
    margin-top: 22.8px;
}
.page-container-card-title{
    padding: 0px 47.5px 0px;
}
.page-container-card-title-content{
    border-bottom: 1.9px solid #707070;
    font-size: 26.6px;
    line-height: 36.1px;
    padding: 26.6px 0 19px;
}
.project-details{
    padding: 41.8px 47.5px 28.5px;
}
.project-details-header{
    font-size: 38px;
    line-height: 26.6px;
}
.project-details-content{
    font-size: 26.6px;
    line-height: 45.6px;
    margin-top: 30.4px;
}
.col-md-5{
    padding-left: 66.5px !important;
}

.order-details{
    font-size: 38px;
    line-height: 26.6px;
}
.order-detail{
    border-top: 1.9px solid #707070;
    border-bottom: 1.9px solid #707070;
    padding: 21.85px 47.5px 64.6px;
}
.order-detail:first-child{
    margin-bottom: -1.9px;
}

.icon-facebook{
    width: 60.8px;
    height: 60.8px;
    padding-left: 19px;
    padding-top: 9.8px;
}
.order-detail-left-text{
    margin-left: 22.8px;
}
.order-detail-left-text1{
    font-size: 36.1px;
    line-height: 34.2px;
}

.order-detail-left-text2{
    font-size: 26.6px;
    line-height: 26.6px;
    margin-top: 15.2px;
}
.order-detail-right-text1{
    font-size: 26.6px;
    line-height: 26.6px;
}
.order-detail-right-text2{
    font-size: 30.4px;
    line-height: 26.6px;
    margin-top: 83.6px;
}
.project-btn{
    margin-left: 79.8px;
    margin-top: 19px;
}
.btn-project{
    width: 163.4px !important;
    height: 38px !important;
    border-radius: 19px !important;
    font-size: 19px !important;
    line-height: 45.6px;
}
.order-details-content-bottom{
    font-size: 26.6px;
    line-height: 26.6px;
    padding: 28.5px 0;
}
.status-content{
    padding: 53.2px 76px 28.5px 47.5px;
}
.status-title{
    font-size: 38px;
    line-height: 26.6px;
}
.status-text1{
    font-size: 26.6px;
    line-height: 28.5px;
    margin-top: 38px;
}
.status-text2{
    width: 418px;
    height: 47.5px;
    border-radius: 11.4px;
    border: 1.9px solid #e5e5e5;
    font-size: 26.6px !important;
    line-height: 28.5px;
    padding: 9.5px 0;
    margin-top: 28.5px;
}

.payment-btn{
    margin-top: 51.3px;
}
.btn-payment{
    width: 503.5px;
    height: 89.3px;
    border-radius: 11.4px;
    border: 1.9px solid #2593f1;
    font-size: 38px !important;
    line-height: 26.6px;
}
.project-card-bottom-status-icon{
    width: 32.3px;
    height: 32.3px;
    font-size: 21.85px;
    padding: 2.85px 5.32px;
    margin-right: 9.5px;
}
.total-content{
    margin-top: 85.5px;
    padding-bottom: 195.7px;
}
.total-row{
    padding: 22.8px 0 22.8px 146.3px;
}
.total-row-left{
    font-size: 34.2px;
    line-height: 26.6px;
    margin-right: -66.5px;
}
.total-row-right{
    font-size: 34.2px;
    line-height: 26.6px;
}
.page-container-card-footer{
    padding: 0px 47.5px 0px;
}
.page-container-card-footer-content{
    border-top: 1.9px solid #707070;
    font-size: 26.6px;
    line-height: 36.1px;
    padding: 26.6px 0 19px;
}
.other-logo{
    margin-top: -38px;
    width: 304px;
}
.font-red{
    font-size: 45.6px;
}
.facebook{
    width: 20px;
}
.icon-warning{
    width: 35px;
    margin-top: 0px;
}
}

/*@media(min-width: 1516px) and (max-width: 2200px) {
    .main-page{
        height: auto !important;
    }
}*/

@media()

@media(min-width: 1516px) and (max-width: 2200px) {
.bg-asset1{
    height: 984.2px;
    bottom: -66.5px;
}
.bg-asset2{
    height: 771.4px;
    bottom: -95px;
}
.main-page{
    height: 1330px;
    overflow-y: scroll;
    padding: 0 57px 85.5px !important;
}
.page-container{
    margin-top: 79.8px;
    width: 966.72px;
}

.page-container-top-left{
    font-size: 24.32px;
    line-height: 45.6px;
}

.invoice-tab{
    width: 215.84px;
    height: 60.8px;
    border-radius: 6.08px;
    border: 1.9px solid #d0d0d0;
    font-size: 21.28px;
    line-height: 28.88px;
    padding: 15.2px 21.28px;
}
.warning-tab{
    margin-left: 18.24px;
}
.warning{
    width: 74.48px;
    height: 60.8px;
    border-radius: 6.08px;
    border: 1.9px solid #d0d0d0 !important;
    padding: 6.08px 21.28px;
}
.page-container-card{
    border-radius: 4.56px;
    border: 1.9px solid #dcdcdc;
    margin-top: 18.24px;
}
.page-container-card-title{
    padding: 0px 38px 0px;
}
.page-container-card-title-content{
    border-bottom: 1.9px solid #707070;
    font-size: 21.28px;
    line-height: 28.88px;
    padding: 21.28px 0 15.2px;
}
.project-details{
    padding: 33.44px 38px 22.8px;
}
.project-details-header{
    font-size: 30.4px;
    line-height: 21.28px;
}
.project-details-content{
    font-size: 21.28px;
    line-height: 36.48px;
    margin-top: 24.32px;
}
.col-md-5{
    padding-left: 53.2px !important;
}

.order-details{
    font-size: 30.4px;
    line-height: 21.28px;
}
.order-detail{
    border-top: 1.9px solid #707070;
    border-bottom: 1.9px solid #707070;
    padding: 17.48px 38px 51.68px;
}
.order-detail:first-child{
    margin-bottom: -1.52px;
}

.icon-facebook{
    width: 48.64px;
    height: 48.64px;
    padding-left: 15.2px;
    padding-top: 7.84px;
}
.order-detail-left-text{
    margin-left: 14.6px;
}
.order-detail-left-text1{
    font-size: 28.88px;
    line-height: 27.36px;
}

.order-detail-left-text2{
    font-size: 21.28px;
    line-height: 21.28px;
    margin-top: 12.16px;
}
.order-detail-right-text1{
    font-size: 21.28px;
    line-height: 21.28px;
}
.order-detail-right-text2{
    font-size: 24.32px;
    line-height: 21.28px;
    margin-top: 66.88px;
}
.project-btn{
    margin-left: 63.84px;
    margin-top: 15.2px;
}
.btn-project{
    width: 130.72px !important;
    height: 30.4px !important;
    border-radius: 15.2px !important;
    font-size: 15.2px !important;
    line-height: 36.48px;
}
.order-details-content-bottom{
    font-size: 21.28px;
    line-height: 21.28px;
    padding: 22.8px 0;
}
.status-content{
    padding: 42.46px 60.8px 22.8px 38px;
}
.status-title{
    font-size: 30.4px;
    line-height: 21.28px;
}
.status-text1{
    font-size: 21.28px;
    line-height: 22.84px;
    margin-top: 30.4px;
}
.status-text2{
    width: 334.4px;
    height: 38px;
    border-radius: 9.12px;
    border: 1.9px solid #e5e5e5;
    font-size: 21.28px !important;
    line-height: 22.8px;
    padding: 6.08px 0;
    margin-top: 22.8px;
}

.payment-btn{
    margin-top: 41.04px;
}
.btn-payment{
    width: 402.8px;
    height: 71.44px;
    border-radius: 9.12px;
    border: 1.9px solid #2593f1;
    font-size: 30.4px !important;
    line-height: 21.28px;
}
.project-card-bottom-status-icon{
    width: 25.84px;
    height: 25.84px;
    font-size: 17.48;
    padding: 2.28px 4.256px;
    margin-right: 7.6px;
}
.total-content{
    margin-top: 68.4px;
    padding-bottom: 156.56px;
}
.total-row{
    padding: 18.24px 0 18.24px 117.04px;
}
.total-row-left{
    font-size: 27.36px;
    line-height: 21.28px;
    margin-right: -53.2px;
}
.total-row-right{
    font-size: 27.36px;
    line-height: 21.28px;
}
.page-container-card-footer{
    padding: 0px 38px 0px;
}
.page-container-card-footer-content{
    border-top: 1.9px solid #707070;
    font-size: 21.28px;
    line-height: 36.1px;
    padding: 21.28px 0 15.2px;
}
.other-logo{
    margin-top: -30.4px;
    width: 243.2px;
}
.font-red{
    font-size: 36.48px;
}
.facebook{
    width: 16px;
}
.icon-warning{
    width: 28px;
    margin-top: 0px;
}
}

@media(max-width: 1145px) {
    
    .col-md-10{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .bg-asset2{
        left: 6%;
    }
    
}

@media(max-width: 705px) {
    .main-page{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .page-container{
        width: 100%;
    }
}

@media(max-width: 596px) {
    .project-details-header{
        display: block !important;
    }
    .project-details-header > .col-md-7{
        padding: 25px 0 !important;
    }
    .detail-info{
        text-align: center;
        padding-left: 15px !important;
    }
    .status-content{
        display: block;
        padding: 28px 25px 15px 25px;
    }
    .col-md-6{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .payment-btn{
        width: 100%;
    }
    .btn-payment{
        width: 100% !important;
    }
    .status-text1{
        justify-content: center;
    }
    .total-row{
        padding: 12px 0 12px 0px;
    }
    .order-details{
        text-align: center;
        margin-top: 25px;
    }
    .order-detail{
        display: block;
    }
    .order-detail-left{
        display: block;
    }
    .facebook-icon{
        display: flex;
        justify-content: center;
    }
    .order-detail-left-text{
        text-align: center;
    }
    .project-btn{
        text-align: center;
        margin-left: 0;
    }
    .order-detail-right{
        text-align: center;
        margin-top: 20px;
    }
    .order-detail-left-text{
        margin-left: 0 ;
        margin-top: 10px;
    }
    .order-detail-right-text2{
        margin-top: 10px;
    }
    .order-detail1{
        padding: 0 !important;

    }
    .order-detail2{
        padding: 0 !important;
    }
}

@media(max-width: 459px) {
    .total-content{
        display: flex;
        justify-content: center;
    }
    .total-row{
        display: block;
    }
    .total-row-left{
        text-align: left;
    }
    .total-row-right{
        margin-top: 20px;
    }
}