.bg-asset1{
	position: absolute;
    width: 116%;
    height: 518px;
    bottom: -35px;
}
.bg-asset2{
	position: absolute;
    width: 105%;
    height: 406px;
    bottom: -50px;
    left: 7%;
}
.main-page{
	height: 694px;
	overflow-y: scroll;
	padding: 0 30px 45px !important;
}
.page-container{
	margin-top: 42px;
	width: 636px;
	margin-left: auto;
	margin-right: auto;
}
.select-form{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.select-form-content{
	display: flex;
	align-items: center;
}
select{
	font-size: 15px !important;
	color: #000000 !important;
	font-family: "Source Sans Pro" !important;
	font-weight: 400;
}
.form-group{
	width: 183px;
	height: 40px;
	margin-right: 30px;
	margin-bottom: 0 !important;
}
.reset-btn{
	width: 104px;
	height: 30px;
	border-radius: 6px;
	background-color: #ffffff !important;
	border: 1px solid #0097dc !important;
	font-size: 14px !important;
	line-height: 24px;
	color: #0097dc !important;
	font-family: "Nunito";
	font-weight: 400;
	text-align: center;
	padding: 0 !important;
}
.reset-btn:hover{
	background: #eee !important;
}
.warning{
	width: 49px;
	height: 40px;
	border-radius: 4px;
	background-color: #ffffff !important;
	border: 1px solid #d0d0d0 !important;
}
.project-card-list{
	margin-top: 40px;
}
.project-card{
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	background: white;
	margin-top: 14px;
}
.project-card-title{
	display: flex;
	justify-content: space-between;
	padding: 18px 18px 18px 32px;
	font-size: 14px;
	line-height: 14px;
	color: #606060;
	font-family: "Nunito";
	font-weight: 700;
}
.project-card-content{
	background-color: #f7f8fc;
	padding: 18px 18px 18px 32px;
	display: flex;
	justify-content: space-between;
}

.icon-facebook{
	width: 32px;
    background: #263f72;
    height: 32px;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 2px;
}
.project-card-content-description{
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
	width: 91%;
}
.project-card-content-description1{
	width: 50.8%;
}
.project-card-content-description1-top{
	display: flex;
	justify-content: space-between;
}
.project-card-content-description1-top-left{
	font-size: 19px;
	line-height: 18px;
	color: #606060;
	font-family: "Nunito";
	font-weight: 700;
}
.project-card-content-description1-top-right{
	font-size: 14px;
	line-height: 14px;
	color: #6a6a6a;
	font-family: "Nunito";
	font-weight: 700;
	text-align: right;
}
.project-card-content-description1-bottom{
	font-size: 14px;
	line-height: 14px;
	color: #606060;
	font-family: "Nunito";
	font-weight: 400;
	margin-top: 5px;
}
.project-card-content-description2-top{
	font-size: 14px;
	line-height: 14px;
	color: #6a6a6a;
	font-family: "Nunito";
	font-weight: 700;
}
.project-card-content-description2-bottom{
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 24px;
	color: #0097dc;
	font-family: "Nunito";
	font-weight: 700;
	text-align: center;
	margin-top: 5px;
}
.project-card-bottom{
	padding: 6px 18px 13px 32px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.status-content{
	display: flex;
	align-items: center;
}
.project-card-bottom-status-icon{
	width: 17px;
	height: 17px;
	border-radius: 50%;
	font-size: 11.5px;
	color: white;
	padding: 0 2.5px
}
.project-card-bottom-status{
	font-size: 14px;
	line-height: 15px;
	color: #6a6a6a;
	font-family: "Nunito";
	font-weight: 700;
	text-align: center;
	margin-left: 10px;
}

.progress{
	width: 140px;
	height: 14px !important;
	border-radius: 7px !important;
	margin-left: 10px;
}
.progress-bar{
	background: #8ed73d !important;
	border-radius: 7px !important;
}
.percent{
	font-size: 12px;
	line-height: 15px;
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-weight: 400;
	text-align: center;
	margin-left: 10px;
}
.bottom-btn{
	width: 151px;
	height: 35px;
	border-radius: 18px !important;
	background-image: linear-gradient(-86deg, #089adc 0%, #9ce1ff 100%) !important;
	font-size: 14px !important;
	line-height: 24px;
	color: #ffffff !important;
	font-family: "Source Sans Pro" !important;
	font-weight: 400;
	text-align: center;
	border: none !important;
}

@media(min-width: 2200px) {
.bg-asset1{
    height: 984.2px;
    bottom: -66.5px;
}
.bg-asset2{
    height: 771.4px;
    bottom: -95px;
}
.main-page{
    height: auto;
    overflow-y: scroll;
    padding: 0 57px 85.5px !important;
}
.page-container{
    margin-top: 79.8px;
    width: 1208.4px;
}

select{
	font-size: 28.5px !important;
}
.form-group{
	width: 347.7px;
	height: 76px;
	margin-right: 57px;
}
.reset-btn{
	width: 197.6px;
	height: 57px;
	border-radius: 11.4px;
	border: 1.9px solid #0097dc !important;
	font-size: 26.6px !important;
	line-height: 45.6px;
}

.warning{
	width: 93.1px;
	height: 76px;
	border-radius: 7.6px;
	border: 1.9px solid #d0d0d0 !important;
}
.project-card-list{
	margin-top: 76px;
}
.project-card{
	border: 1.9px solid #dcdcdc;
	border-radius: 9.5px;
	background: white;
	margin-top: 26.6px;
}
.project-card-title{
	padding: 34.2px 34.2px 34.2px 60.8px;
	font-size: 26.6px;
	line-height: 26.6px;
}
.project-card-content{
	padding: 34.2px 34.2px 34.2px 60.8px;
}
.form-control{
	height: 100% !important;
}
.icon-facebook{
	width: 60.8px;
    height: 60.8px;
    padding-left: 19px;
    padding-top: 9.8px;
}
.project-card-content-description{
	margin-left: 38px;
}

.project-card-content-description1-top-left{
	font-size: 36.1px;
	line-height: 34.2px;
}
.project-card-content-description1-top-right{
	font-size: 26.6px;
	line-height: 26.6px;
}
.project-card-content-description1-bottom{
	font-size: 26.6px;
	line-height: 26.6px;
	margin-top: 9.5px;
}
.project-card-content-description2-top{
	font-size: 26.6px;
	line-height: 26.6px;
}
.project-card-content-description2-bottom{
	font-size: 28.5px;
	line-height: 45.6px;
	margin-top: 9.5px;
}
.project-card-bottom{
	padding: 11.4px 34.2px 24.7px 60.8px;
}
.project-card-bottom-status-icon{
	width: 32.3px;
	height: 32.3px;
	font-size: 21.85px;
	padding: 0 4.75px
}
.project-card-bottom-status{
	font-size: 26.6px;
	line-height: 28.5px;
	margin-left: 19px;
}

.progress{
	width: 266px;
	height: 26.6px !important;
	border-radius: 13.3px !important;
	margin-left: 19px;
}
.progress-bar{
	border-radius: 13.3px !important;
}
.percent{
	font-size: 22.8px;
	line-height: 28.5px;
	margin-left: 19px;
}
.bottom-btn{
	width: 286.9px;
	height: 66.5px;
	border-radius: 34.2px !important;
	font-size: 26.6px !important;
	line-height: 45.6px;
}
.facebook{
	width: 20px;
}
.icon-close{
	font-size: 38px !important;
	margin-top: -17.1px !important;
	margin-left: -1.52px !important;
}
.icon-warning{
    width: 35px;
    margin-top: 0px !important;
}
}

@media(min-width: 1516px) and (max-width: 2200px) {
.bg-asset1{
    height: 984.2px;
    bottom: -66.5px;
}
.bg-asset2{
    height: 771.4px;
    bottom: -95px;
}
.main-page{
    height: 1330px;
    overflow-y: scroll;
    padding: 0 57px 85.5px !important;
}
.page-container{
    margin-top: 79.8px;
    width: 966.72px;
}

select{
	font-size: 22.8px !important;
}
.form-group{
	width: 278.16px;
	height: 60.8px;
	margin-right: 45.6px;
}
.reset-btn{
	width: 158.08px;
	height: 45.6px;
	border-radius: 11.4px;
	border: 1.9px solid #0097dc !important;
	font-size: 21.28px !important;
	line-height: 45.6px;
}

.warning{
	width: 74.48px;
	height: 60.8px;
	border-radius: 6.08px;
	border: 1.9px solid #d0d0d0 !important;
}
.project-card-list{
	margin-top: 76px;
}
.project-card{
	border: 1.9px solid #dcdcdc;
	border-radius: 9.5px;
	background: white;
	margin-top: 26.6px;
}
.project-card-title{
	padding: 27.36px 27.36px 27.36px 48.64px;
	font-size: 21.28px;
	line-height: 26.6px;
}
.project-card-content{
	padding: 27.36px 27.36px 27.36px 48.64px;
}
.form-control{
	height: 100% !important;
}
.icon-facebook{
	width: 48.64px;
    height: 48.64px;
    padding-left: 15.2px;
    padding-top: 7.84px;
}
.project-card-content-description{
	margin-left: 24.32px;
}

.project-card-content-description1-top-left{
	font-size: 28.88px;
	line-height: 34.2px;
}
.project-card-content-description1-top-right{
	font-size: 21.28px;
	line-height: 26.6px;
}
.project-card-content-description1-bottom{
	font-size: 21.28px;
	line-height: 26.6px;
	margin-top: 9.5px;
}
.project-card-content-description2-top{
	font-size: 26.6px;
	line-height: 26.6px;
}
.project-card-content-description2-bottom{
	font-size: 28.5px;
	line-height: 45.6px;
	margin-top: 9.5px;
}
.project-card-bottom{
	padding: 11.4px 27.36px 24.7px 48.64px;
}
.project-card-bottom-status-icon{
	width: 25.84px;
	height: 25.84px;
	font-size: 17.48px;
	padding: 0 3.8px
}
.project-card-bottom-status{
	font-size: 21.28px;
	line-height: 28.5px;
	margin-left: 19px;
}

.progress{
	width: 266px;
	height: 26.6px !important;
	border-radius: 13.3px !important;
	margin-left: 19px;
}
.progress-bar{
	border-radius: 13.3px !important;
}
.percent{
	font-size: 22.8px;
	line-height: 28.5px;
	margin-left: 19px;
}
.bottom-btn{
	width: 229.52px;
	height: 53.2px;
	border-radius: 34.2px !important;
	font-size: 21.28px !important;
	line-height: 45.6px;
}
.facebook{
	width: 16px;
}
.icon-close{
	font-size: 30.4px !important;
	margin-top: -14.1px !important;
	margin-left: -1.52px !important;
}
.icon-warning{
    width: 35px;
    margin-top: 0px !important;
}
}

@media(max-width: 1145px) {
	
	.col-md-10{
		max-width: 100% !important;
		flex: 0 0 100% !important;
	}
	.bg-asset2{
		left: 6%;
	}
	
}

@media(max-width: 718px) {
	.main-page{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.page-container{
		width: 100%;
	}
	.project-card-title{
		display: block;
		text-align: center;
	}
	.project-card-bottom{
		display: block;
		text-align: center;
	}
	.select-form{
		display: block;
	}
	.select-form-content{
		display: block;
		width: 100%;
	}
	.form-group{
		width: 100%;
		margin-bottom: 10px !important;
	}
	.status-content{
		justify-content: center;
		margin-bottom: 15px;
	}
	.reset-btn{
		width: 100%;
		margin-bottom: 15px;
	}
	.warning-tab{
		justify-content: center;
		display: flex;
	}
}

@media(max-width: 450px) {
	.project-card-content{
		display: block;
		padding: 18px !important;
	}
	.project-card-content-description{
		width: 100%;
		display: block;
		margin-left: 0px;
	}
	.project-card-content-description1{
		width: 100%;
	}
	.project-card-content-description2{
		text-align: center;
		margin-top: 10px;
	}
	.facebook-icon{
		display: flex;
		justify-content: center;
	}
}